@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400;500&family=Oxanium&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    /* color */
    background-color: #121212;

    /* design */
    width: 100dvw;
    height: 100dvh;
    
    /* structure */
    display: flex;
    flex-direction: column;
    place-content: center; /* centra de arriba hacia abajo */
    place-items: center;  /* centra de izquierda a derecha */
}


/* NAVIGATION -> Settings button */

nav {
    /* design */
    position: absolute;
    top: 2rem;
    left: 2rem;

    /* structure */
    display: flex;
    gap: 3rem;
}

.settings {
    /* color */
    background-color: inherit;

    /* design */
    padding: .2rem;
    border: none;
    border-radius: 8px;

    /* animations */
    transition: background-color .1s linear;
}
.settings:hover {
    cursor: pointer;
    
    /* color */
    background-color: #222222;
}

svg {
    /* color */
    color: #fff;

    /* design */
    height: 43px;
    width: 43px;
}

/* MAIN -> Countdown Content */

main {
    /* color */
    color: #fff;

    /* design */
    overflow: hidden;

    /* fonts */
    text-align: center;

    /* structure */
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

h3 {
    /* fonts */
    font-family: 'Oxanium', sans-serif;
    font-size: 3.2rem;
    color: #cacaca;
    position: relative;
    letter-spacing: 1px;
}

h3:before {
    content: attr(REFL-TEXT);
    position: absolute;
    top: -21%;
    left: 33.85%;
    transform: rotateX(180deg);
    line-height: 52px;
    transform-origin: bottom;
    background: linear-gradient(to top, #bbbbbb4b, transparent);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.4;
}

#input-data {
    /* design */
    padding: 2rem;

    /* structure */
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 6rem;
}

form {
    /* design */
    max-width: 800px;

    /* structure */
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

input[type="number"] {
    /* color */
    background-color: #222222;
    color: #bbbbbb;

    /* design */
    /* width: 150px; */
    /* height: 100px; */
    width: 100%;
    padding: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;

    /* fonts */
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.3rem;
    text-justify: center;

    /* structure */
    display: flex;
    place-items: center;
    place-content: center;

    /* animations */
    transition: outline .5s linear;
}
input:focus {
    outline: 1px solid #bbbbbb;
}

*::selection {
    background-color: #baa1d1f3;
    color: #222222;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.right {

    /* design */
    /* width: 100%; */

    /* structure */
    /* display: flex; */
    /* justify-content: flex-end; */
}

#start {
    cursor: pointer;

    /* color */
    background-color: #b08ad1;
    color: #222222;

    /* design */
    /* margin-right: 4rem; */
    padding: 1rem;
    border: none;
    border-radius: 8px;

    /* fonts */
    font-family: 'Oxanium', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;

    /* structure */
    display: flex;
    place-content: center;
    justify-content: center;

    /* animations */
    transition: box-shadow, color .700ms ease;
}

#start:active {
    box-shadow: 0px 0px 10px #b08ad143;
    color: #49008a;
}

/* countdown -> after */

#countdown-activated {
    display: none;
}

/* theme change */

.switch-mode {
    background-color: #1d1d1d;

    height: 50px;
    width: 100px;

    border: 2px solid hsl(204, 86%, 53%);
    border-radius: 50px;

    box-sizing: border-box;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.activator {
    /* background-color: #316472; */
    /* background-color: inherit; */
    background-color: hsl(204, 86%, 53%);
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100px;

    grid-column: var(--pos, 1);

    transition: all .3s ease-in;

    display: grid;
    place-items: center;
}
/* .activator:hover {
    grid-column: 2;
    transform: translateX(30px);
} */

.moon {

    height: 30px;
    width: 30px;

    color: #000000;
    display: block;
    transition: all 3s;
}
.sun {
    height: 30px;
    width: 30px;

    color: #ff0;
    display: none;
    transition: all 3s;
}




.switch-mode-two {
    background-color: #1d1d1d;

    height: 50px;
    width: 100px;

    /* border: 2px solid hsl(204, 86%, 53%); */
    border-radius: 50px;

    box-sizing: border-box;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.activator-two {
    /* background-color: #316472; */
    /* background-color: inherit; */
    background-color: hsl(204, 86%, 53%);
    height: 50px;
    width: 50px;
    border: none;
    /* border-radius: 100px; */
    border-top-left-radius: var(--tl,20px);
    border-bottom-left-radius: var(--bl,20px);
    border-top-right-radius: var(--tr,none);
    border-bottom-right-radius: var(--br,none);

    grid-column: var(--pos, 1);

    /* transform: translateX(); */

    transition: border-top-left-radius .5s, border-bottom-left-radius .5s, border-top-right-radius .5s, border-bottom-right-radius .5s, all .8s;

    display: grid;
    place-items: center;
}

.moon-two {

    height: 30px;
    width: 30px;

    color: #000000;
    display: block;
    transition: all 3s;
}
.sun-two {
    height: 30px;
    width: 30px;

    color: #ff0;
    display: none;
    transition: all 3s;
}