* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input[type='submit'],
input[type='reset'] {
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
}
