:root {
  --transition-duration: 2s;

  --start-button-bg-color: #b08ad1;
  --reset-button-bg-color: #f55454;

  --transition-colors: background-color var(--transition-duration) ease,
    color calc(var(--transition-duration) / 2) ease;

  --transition-transform: transform var(--transition-duration) ease;
}

html[data-theme='light'] {
  --color: #121212;
  --bg-color: #f0f0f0;

  --main-bg-color: #aaa;
  --input-bg-color: #f0f0f0;

  --outline-color: #000;
}

html[data-theme='dark'] {
  --color: #fff;
  --bg-color: #121212;

  --main-bg-color: #202020;
  --input-bg-color: #aaa;

  --outline-color: #fff;
}

/* @media screen and (1000px <= width) {
  html[data-theme='dark'] {
    --bg-color: red;
  }
} */

@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0 !important;
  }
}
